 .u-section-1 {
  background-image: none;
  min-height: 758px;
}

.u-section-1 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2)  + 1140px);
  margin: 0 0 0 auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 758px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-1 {
  padding: 60px 30px;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  margin: 128px 1px 0 11px;
}

.u-section-1 .u-text-2 {
  font-size: 4.5rem;
  font-weight: 400;
  font-family: Splatoon1;
  margin: 12px 0 0 11px;
}

.u-section-1 .u-text-3 {
  font-family: Splatoon2;
  margin: 21px 1px 0 11px;
}

.u-section-1 .u-btn-1 {
  margin: 20px auto 0 11px;
  padding: 15px 54px 17px;
}

.u-section-1 .u-image-1 {
  min-height: 758px;
  background-image: url("images/420px-S3_Expansion_Pass_Squid_Sisters_transparent.png");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 564px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-1 .u-layout-cell-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    min-height: 625px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    font-size: 3.4375rem;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 625px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 366px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-right: 0;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 398px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 646px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 50px;
    padding-right: 50px;
    padding-left: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 578px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 432px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-1 .u-text-2 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 364px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1092px;
}

.u-section-2 .u-text-1 {
  text-align: center;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 391px auto 0;
}

.u-section-2 .u-list-1 {
  margin-top: 50px;
  margin-bottom: 10px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 589px;
  --gap: 0px;
  grid-auto-columns: 33.3333%;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  width: 240px;
  height: 240px;
  background-image: url("images/OIP.webp");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-top: 20px;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-2 .u-text-3 {
  margin: 12px 0 0;
}

.u-section-2 .u-text-4 {
  margin-top: 23px;
  margin-bottom: 0;
  font-weight: 300;
  font-style: normal;
}

.u-section-2 .u-social-icons-1 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 168px;
  min-width: 94px;
  margin: 20px auto 0;
}

.u-section-2 .u-icon-1 {
  height: 100%;
}

.u-section-2 .u-icon-2 {
  height: 100%;
}

.u-section-2 .u-icon-3 {
  height: 100%;
}

.u-section-2 .u-icon-4 {
  height: 100%;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  width: 240px;
  height: 240px;
  background-image: url("images/OIP.webp");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-5 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-top: 20px;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-2 .u-text-6 {
  font-weight: 400;
  margin: 12px 0 0;
}

.u-section-2 .u-text-7 {
  margin-top: 23px;
  margin-bottom: 0;
  font-weight: 300;
  font-style: normal;
}

.u-section-2 .u-social-icons-2 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 168px;
  min-width: 94px;
  margin: 20px auto 0;
}

.u-section-2 .u-icon-5 {
  height: 100%;
}

.u-section-2 .u-icon-6 {
  height: 100%;
}

.u-section-2 .u-icon-7 {
  height: 100%;
}

.u-section-2 .u-icon-8 {
  height: 100%;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  width: 240px;
  height: 240px;
  object-position: 50% 94.17%;
  background-image: url("images/OIP.webp");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-8 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-top: 20px;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-2 .u-text-9 {
  font-weight: 400;
  margin: 12px 0 0;
}

.u-section-2 .u-text-10 {
  margin-top: 23px;
  margin-bottom: 0;
  font-weight: 300;
  font-style: normal;
}

.u-section-2 .u-social-icons-3 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 168px;
  min-width: 94px;
  margin: 20px auto 0;
}

.u-section-2 .u-icon-9 {
  height: 100%;
}

.u-section-2 .u-icon-10 {
  height: 100%;
}

.u-section-2 .u-icon-11 {
  height: 100%;
}

.u-section-2 .u-icon-12 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-top: 401px;
  }

  .u-section-2 .u-repeater-1 {
    grid-gap: 0px;
    grid-auto-columns: 33.333333333333336%;
    min-height: 486px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-top: 127px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    grid-auto-columns: 50%;
    min-height: 1117px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}@font-face {
  font-family: 'Splatoon1';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Splatoon1.otf);
}@font-face {
  font-family: 'Splatoon2';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Splatoon2.otf);
}
/* page-custom-fonts */
@font-face {
  font-family: 'Splatoon1';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Splatoon1.otf);
}@font-face {
  font-family: 'Splatoon2';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Splatoon2.otf);
}